@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&family=Bilbo+Swash+Caps&display=swap');

:root {
    font-family: 'Balsamiq Sans', cursive;
    --main-color: black;
    --accent-color: white;
    scroll-behavior: smooth;
}
h1, h2, p, ul {
    margin: 0;
    padding: 0;
}

body {
    max-width: 980px;
    margin: auto;
}
header .banner h1,
header nav .logo {
    font-family: 'Bilbo Swash Caps', cursive;
    font-size: 4rem;
    text-align: center;
}
header nav .top-menu {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    margin-top: 1rem;
}
header nav .top-menu li a {
    text-transform: uppercase;
    color: var(--main-color);
    text-decoration: none;
    border: 1px solid transparent;
    padding: 5px;
}
header nav .top-menu li a:hover {
    border: 1px solid var(--main-color);
}

@media(min-width: 500px) {
    header nav {
        display: flex;
        align-items: center;
    }
    header nav .top-menu {
        flex: 1;
        margin-top: 0;
    }
}

header .banner {
    background-image: url(../img/forest.jpeg);
    min-height: 400px;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
header .banner h1 {
    color: var(--accent-color);
}

.product-list .product-card img.product-image {
    display: block;
    width: 100%;
}
.product-list .product-card .button-container {
    display: flex;
    justify-content: space-around;
}

@media (min-width: 500px) {
    main .product-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 5px;
    }
}

@media (min-width: 660px) {
    main .product-list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 980px) {
    main .product-list {
        grid-template-columns: repeat(4, 1fr);
    }
}

/* Controls */
button {
    color: #444444;
    background: #F3F3F3;
    border: 1px #DADADA solid;
    padding: 5px 10px;
    border-radius: 2px;
    font-weight: bold;
    font-size: 9pt;
    outline: none;
}

button:hover {
    border: 1px #C6C6C6 solid;
    box-shadow: 1px 1px 1px #EAEAEA;
    color: #333333;
    background: #F7F7F7;
}

button:active {
    box-shadow: inset 1px 1px 1px #DFDFDF;   
}